<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style type="text/css">
	.logo {
		background: url(<%= imageSrc %>) no-repeat center center;
	}
</style>

<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/index/myBlog-index.css">
<link rel="stylesheet" href="stylesheets/index/myBlog-index-animation.css">
<link rel="stylesheet" href="stylesheets/index/myBlog-index-media.css">

</head>
<body>
	<header class="header">
		<center><a href="../myBlog-upload-image" class="logo"><span><%= username %></span></a></center>

		<section class="memorial-day">
			<div class="time-axis"></div>
			<div class="second-time-axis"></div>
			<ul>
			    <li class="n1"><a href="/">相遇myBlog</a>
			        <div class="dateview">2011-06-27</div>
			    </li>
			    <li class="n2"><a href="/">写下第一篇myBlog</a>
			        <div class="dateview">2011-12-19</div>
			    </li>
			    <li class="n3"><a href="/">访问量首次破千</a>
			        <div class="dateview">2012-10-01</div>
			    </li>
			    <li class="n4"><a href="/">myBlog的点点滴滴</a>
			        <div class="dateview">2013-02-14</div>
			    </li>
			    <li class="n5"><a href="/">未完待续...</a>
			        <div class="dateview">2014-10-05</div>
			    </li>
		    </ul>
		</section>

		<nav>
			<a href="../myBlog-article" target="_blank">myBlog</a>
			<a href="../myBlog-album" target="_blank">相册</a>
			<a href="../myBlog-message-book" target="_blank">留言板</a>
		</nav>
	</header>

	<article>
		<a href=""><p>年华是一封无效信。</p></a>
		<a href=""><p>年华是一封无效信。</p></a>
		<a href=""><p>年华是一封无效信。</p></a>
		<a href="" class="text-title">年华是一封无效信。</a>
		<a href=""><p>年华是一封无效信。</p></a>
		<a href="" class="text-title">年华是一封无效信。</a>
		<a href=""><p>年华是一封无效信。</p></a>
		<a href=""><p>年华是一封无效信。</p></a>
	</article>

	<section class="decoration">
		<center>
			<img src="images/love.png">
			<div class="gif">
		       <li></li>
		       <li></li>
		       <li></li>
		       <li></li>
		       <li></li>
		       <li></li>
		       <li></li>
		       <li></li>
		    </div>
		</center>
	</section>

	<footer>
		<center>
			<p>©本网站所有解释权归胡心怡所有</p>
			<p><span>联系方式：18824167803</span><span>tel:18824167803</span></p>
			<p><span>电子邮箱：18824167803@163.com</span><span>e-mail：18824167803@163.com</span></p>
		</center>
	</footer>
</body>
</html>