<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/album/myBlog-album.css">

</head>
<body>
	<header class="header">
		<div class="content">
			<p>我们留不住时间...</p>
			<p>但我们可以用照片纪念定格值得纪念的瞬间...</p>
		</div>

		<section class="whole-picture">
			<div class="picture-top-left picture"></div>
			<div class="picture-top-right picture"></div>
			<div class="picture-bottom-left picture"></div>
			<div class="picture-bottom-right picture"></div>
		</section>

	</header>

	<section class="main">
		<a class="album">
		</a>
		<a class="album">
		</a>
		<a class="album">
		</a>

		<a class="add-album" href="../myBlog-add-album">+</span></a>
	</section>

	<div class="showPictureBackground">
		<center class="showPicture"><img src="images/girl.jpg"></center>
	</div>

	<footer>
		<center>
			<p>©本网站所有解释权归胡心怡所有</p>
			<p><span>联系方式：18824167803</span><span>tel:18824167803</span></p>
			<p><span>电子邮箱：18824167803@163.com</span><span>e-mail：18824167803@163.com</span></p>
		</center>
	</footer>

	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/album/myBlog-album.js"></script>
</body>
</html>