@media screen and (max-width: 1276px) {
	.time-axis {
		position: absolute;
		top: 47px;
		width: 100%;
	}
	.second-time-axis {
		display: block;
		position: absolute;
		top: 110px;
		width: 20%;

		-webkit-animation: time_a_1 5s; 
		-ms-animation: time_a_1 5s;
		animation: time_a_1 5s;  
	}
	.memorial-day ul li.n5 .dateview {
		position: absolute;
		top: 48px;
		left: -85px;

		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.memorial-day ul li.n1 {
		position: absolute;
		top: 40px;
		left: 10%;
	}
	.memorial-day ul li.n2 { 
		position: absolute; 
		top: 40px; 
		left: 33%; 
	}
	.memorial-day ul li.n3 { 
		position: absolute; 
		top: 40px; 
		left: 70%; 
	}
	.memorial-day ul li.n4 { 
		position: absolute; 
		top: 40px; 
		left: 90%; 
	}
	.memorial-day ul li.n5 { 
		position: absolute; 
		top: 103px; 
		left: 10%; 
	}
}

@media screen and (max-width: 1025px) {
	.second-time-axis {
		width: 60%;

		-webkit-animation: time_a_2 5s; 
		-ms-animation: time_a_2 5s;
		animation: time_a_2 5s; 
	}
	.memorial-day ul li.n4 .dateview, .memorial-day ul li.n5 .dateview {
		top: 48px;
		left: -85px;

		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.memorial-day ul li.n4 { 
		top: 103px; 
		left: 10%; 
	}
	.memorial-day ul li.n5 {   
		left: 40%; 
	}

	article {
		width: 750px;
	}
}

@-webkit-keyframes time_a_2 { 
 	0% {
		width:0;
	}
	50% {
		width:20%;
	}
	100% {
		width:60%;
	}
}

@keyframes time_a_2 { 
	0% {
		width:0;
	}
	50% {
		width:20%;
	}
	100% {
		width:60%;
	}
}

@media screen and (max-width: 855px) {
	.memorial-day ul li.n3 { 
		left: 500px; 
	}
}

@media screen and (max-width: 770px) {
	article {
		width: 500px;
	}
}

@media screen and (max-width: 731px) {
	.memorial-day ul li.n3 { 
		left: 80%; 
	}

	.memorial-day ul li.n5 { 
		left: 50%; 
	}
}

@media screen and (max-width: 520px) {
	.memorial-day {
		display: none;
	}

	.logo {
		margin: 50px auto 20px;
	}

	nav {
		width: 100%;
		margin: 50px auto;
	}

	nav a {
		display: block;
		width: 100%;
		margin: 5px auto;
	}

	article {
		width: 250px;
	}
}