<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>作品展示</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

<link rel='stylesheet prefetch' href='http://fonts.useso.com/css?family=Open+Sans'>

<link rel="stylesheet" href="/stylesheets/LoginAndRegister/myBlog-slide.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/LoginAndRegister/myBlog-slide-media.css">

</head>

<body>

<div class="slider-container">

	<div class="slider-control left inactive"></div>
	<div class="slider-control right"></div>
	<ul class="slider-pagi"></ul>

	<div class="slider">
		<div class="slide slide-0 active">
			<div class="slide-bg"></div>
			<div class="slide-content">
				<svg class="slide-overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">   
					<path class="slide-overlay-path" d="M0,0 150,0 500,405 0,405" />
				</svg>    <!--绘制一个梯形区域-->
				<div class="slide-text">
					<p class="slide-text-desc">这十年来做过的</p>
					<p class="slide-text-desc">能令你无悔 骄傲吗</p>
					<p class="slide-text-desc">那时候你所相信的事</p>
					<p class="slide-text-desc">没有被动摇吧</p>
				</div>
			</div>
		</div>
		<div class="slide slide-1 ">
			<div class="slide-bg"></div>
			<div class="slide-content">
				<svg class="slide-overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
					<path class="slide-overlay-path" d="M0,0 150,0 500,405 0,405" />
				</svg>
				<div class="slide-text">
					<p class="slide-text-desc">对象和缘份已出现</p>
					<p class="slide-text-desc">成就也还算不赖吗</p>
					<p class="slide-text-desc">旅途上你增添了经历</p>
					<p class="slide-text-desc">又有让棱角 消失吗</p>
				</div>
			</div>
		</div>
		<div class="slide slide-2">
			<div class="slide-bg"></div>
			<div class="slide-content">
				<svg class="slide-overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
					<path class="slide-overlay-path" d="M0,0 150,0 500,405 0,405" />
				</svg>
				<div class="slide-text">
					<p class="slide-text-desc">软弱吗</p>
					<p class="slide-text-desc">你成熟了 不会失去格调吧</p>
					<p class="slide-text-desc">当初坚持还在吗</p>
					<p class="slide-text-desc">刀锋不会 磨钝了吧</p>
				</div>
			</div>
		</div>
		<div class="slide slide-3">
			<div class="slide-bg"></div>
			<div class="slide-content">
				<svg class="slide-overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
					<path class="slide-overlay-path" d="M0,0 150,0 500,405 0,405" />
				</svg>
				<div class="slide-text">
					<p class="slide-text-desc">老练吗</p>
					<p class="slide-text-desc">你情愿变得 聪明而不冲动吗</p>
					<p class="slide-text-desc">但变成 步步停下三思 会累吗</p>
					<p class="slide-text-desc">快乐吗</p>
					<p class="slide-text-desc">你还是记得你跟我约定吧</p>
					<p class="slide-text-desc">区区几场成败里</p>
					<p class="slide-text-desc">应该不致 麻木了吧</p>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/LoginAndRegister/myBlog-slide.js"></script>


</body>
</html>
